<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organisation.name %>
</p>

<p>
  <b>Website:</b>
  <%= @organisation.website %>
</p>

<p>
  <b>Description:</b>
  <%= @organisation.description %>
</p>


<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
