<nav>
  <ul>
    <li> <%= link_to "Home", root_path %> </li>
    <li> <%= link_to "Resources", resources_path %> </li>
    <li> <%= link_to "Organisations", organisation_list_path %> </li>
    <li> <%= link_to "What is here?", whatishere_path %> </li>
    <li> <%= link_to "Events", events_path %> </li>
    <li> <%= link_to "Contact", contact_path %> </li>
  </ul>
</nav>