<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <section id="main">
      <%= render 'layouts/header' %>
      <%= render 'layouts/navigation' %>

      <%= yield %>

    </section>


</body>
</html>
